params {
    outdir = 'results'
}

process {
    executor = 'local'
    cpus = 4
}

conda {
    enabled = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
}
